typer==0.9.*
fastapi==0.101.*
uvicorn==0.23.*
Jinja2==3.*
asyncpg==0.29.*
loguru==0.7.*
pydantic==2.*
pydantic-settings==2.*
python-multipart==0.0.7
shapely==2.*
geopandas==0.14.*
matplotlib==3.*
itsdangerous==2.*
bcrypt==4.*
