typer==0.12.*
fastapi==0.111.*
uvicorn==0.30.*
Jinja2==3.*
asyncpg==0.29.*
loguru==0.7.*
pydantic==2.*
pydantic-settings==2.*
python-multipart==0.0.9
shapely==2.*
geopandas==1.*
matplotlib==3.*
itsdangerous==2.*
bcrypt==4.*
