<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>tracks.lat</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌐</text></svg>">
  <style>
    * {
      font-family: monospace;
    }

    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
      background-color: #aa0000;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1 {
      font-size: 4rem;
      color: #fbf7f5;
    }
  </style>
</head>

<body>
  <h1>🌐 tracks.lat/lon 🌐</h1>
</body>
</body>

</html>