{% extends "base.html" %}
{% block head %}
<style>
  img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    height: 128px;
    width: 128px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
</style>
{% endblock %}
{% block content %}
<h1>🌐 tracks.lat/lon 🌐</h1>
<h2>tracks</h2>
<ul>
  {% for track in tracks %}
  <a href="/lon/map/{{ track['id'] }}">
    <li>
      {{ track["name"] }} {{ track["activity_emoji"] }}
      <img src="/lon/map/{{ track['id'] }}.png" alt="{{ track['name'] }}" />
    </li>
  </a>
  {% endfor %}
</ul>
<form method="post" enctype="multipart/form-data">
  <input type="file" id="gpx" name="gpx" />
  <input id="secret_password" name="secret_password" type="password" placeholder="secret password" />
  <button type="submit">upload gpx</button>
</form>
{% endblock %}
