{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block content %}
<h3>my tracks</h3>
<ul>
    {% for track in tracks %}
        <li>
            {% if track['username'] == user['username'] %}
            <form action="/lon/{{ track['username'] }}/{{ track['slug'] }}" method="post">
                <button class="link">delete 🗑️</button>
                <input type="hidden" name="method" value="DELETE">
            </form>
            {% endif %}
            <a href="/lon/{{ track['username'] }}/{{ track['slug'] }}">
                <img class="square small" src="/lon/{{ track['username'] }}/{{ track['slug'] }}.png"
                    alt="{{ track['name'] }}" />
                {{ track["name"] }} {{ track["activity_emoji"] }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
